.ib_main {
    display: flex;
    align-items: center;
    justify-content: center;

}

.ib_main img {
    width: 100%;
    transition: 0.2s;
    cursor: pointer;
}

.ib_main:hover img {
    opacity: 0.5;
}