.marts_main {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;

    width: 100%;
    height: 100%;

    gap: 10px;
}


.art_comp {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 200px;
}


.art_comp img {
    width: 100%;
    border-radius: 10px;
}

